.segments {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;

    &__field-label {
        color: #007273;
        border: 1px solid #f5f5f5;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 7px;
        padding-bottom: 9px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: bold;
    }

    &__field-content {
        list-style-type: none;
        border: 1px solid #eeeeee;
        background-color: #f1f1f1;
        margin-top: 0;
        padding: 0;
        font-style: italic;

        > ul {
            list-style-type: none;
            padding: 0;
        }
    }

    &__subfield {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__subfield-label {
        color: #007273;
        margin-top: 0;
        font-style: normal;
        font-weight: bold;
    }

    &__segment-source {
        font-weight: bold;
    }

    &__segment-toolbar {
        float: right;
        margin: 0;
    }

    &__segment-toolbar > li {
        display: inline-block;
        margin-left: 15px;
    }

    &__subfield:not(:last-child) {
        border-bottom: 1px solid #eaeaea;
    }

    &__subfield:after {
        content: '';
        display: table;
        clear: both;
    }
}
